.body-img {
	background-image: url('https://helios-i.mashable.com/imagery/articles/05NO8OhhfiSzs4peOC8jrkG/hero-image.fill.size_1248x702.v1644432805.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
